$phone-breakpoint:576px;
$tablet-breakpoint: 768px;
$desktop-breakpoint:992px;
$large-desktop-breakpoint:1200px;
$xxl-large-desktop-breakpoint:1400px;
$header-background:#1089ff;
$header-top-background:#f8f9fa;
$header-padding:40px;
$black:#000;
$gray:gray;
$white:white;
$font-family:'Oswald', sans-serif;
$font-family-2:"Dancing Script", sans-serif;
$overlay-background:rgba(16, 137, 255, 0.8);
$form-border:#ced4da;
$form-control-color:#495057;