$phone-breakpoint:576px;
$tablet-breakpoint: 768px;
$desktop-breakpoint:992px;
$large-desktop-breakpoint:1200px;
$xxl-large-desktop-breakpoint:1400px;
$header-background:#1089ff;
$header-top-background:#f8f9fa;
$header-padding:40px;
$black:#000;
$gray:gray;
$white:white;