.hero-slide {
    .intro-section {
      background-size: cover;
      background-position: center;
      height: 500px;
      @extend %center-div;
      &::before{
        content: "";
        position: absolute;
        height: 100%;
        width: 100%;
        background: #222;
        opacity: .3;
        border-bottom-right-radius: 0px;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
      }
      .container {
        max-width: 1000px;
      }
  
      h1 {
        font-size: 3rem;
        color: $white;
        font-weight: 300!important;
      }
  
      p {
        font-size: 1.2rem;
        color: $white;
        font-weight: 300!important;
      }
  
      .btn {
        font-size: 1.2rem;
        color: $white;
        font-weight: 300!important;
      }
    }
}
.owl-nav{
  transition: all .3s;
  position: relative;
  .owl-prev{
    position: absolute;
    left: 10px;
    .icon-back{
      width: 70px;
      height: 70px;
      position: absolute;
      top: 50%;
      left: 50%;
      color: #000;
      transform: translate(-50%, -50%);
      &:hover{
        background-color: aqua;
      }
      i{
        font-size: 1.7rem;
      }
    }
  }
  .owl-next{
    right: 10px;
  }
}
.owl-dots{
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  .owl-dot{
    display: inline-block;
    span{
      background: $header-background;
      border-radius: 0%;
      display: inline-block;
       width: 18px;
       height: 4px;
      margin: 2px 5px;
    }
  }
}