.hero-slide {
    .intro-section {
      background-size: cover;
      background-position: center;
      height: 500px;
      @extend %center-div;
  
      .container {
        max-width: 1000px;
      }
  
      h1 {
        font-size: 3rem;
        color: $white;
        font-weight: 300!important;
      }
  
      p {
        font-size: 1.2rem;
        color: $white;
        font-weight: 300!important;
      }
  
      .btn {
        font-size: 1.2rem;
        color: $white;
        font-weight: 300!important;
      }
    }
    }
    @media (max-width: $tablet-breakpoint) {
      .owl-stage {
        width: 100%;
      }
      .owl-item {
        width: 100%;
      }
    }
    @media (max-width:$tablet-breakpoint) {
      .intro-section {
        h1 {
          font-size: 2rem!important;
        }
  
        p {
          font-size: 1rem!important;
        }
  
        .btn {
          font-size: 1rem!important;
        }
    }
}
