@media (max-width: $tablet-breakpoint) {
    .owl-stage {
      width: 100%;
    }
    .owl-item {
      width: 100%;
    }
}
@media (max-width:$tablet-breakpoint) {
    .intro-section {
      h1 {
        font-size: 2rem!important;
      }

      p {
        font-size: 1rem!important;
      }

      .btn {
        font-size: 1rem!important;
      }
  }
}
@media (min-width: $tablet-breakpoint) {
   .form-section{
     padding: 5em 0;
   } 
   .bg-image-overlay{
    padding: 5em 0;
   }
   .site-section{
    padding: 5em 0;
   }
}
@media  (max-width:$tablet-breakpoint){
  .site-mobil-menu{
    display: block;
  }
}