.service-icon{
   .col-md-6,.col-lg-4{
    margin-bottom: 40px;
   }
    .wrap-icon-39293 {
        position: relative;
        margin-bottom: 20px;
        display: block;
        i{
            line-height: 0;
            font-size: 70px;
           color: #1089ff;
        }
    }
}