@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");
.hero-slide .intro-section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.bg-image-overlay .container .row, .sticky-wrapper .site-navbar .site-menu, .header-top .container .quick-contact-icons {
  display: flex;
  flex-direction: row;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

body {
  font-family: "Oswald", sans-serif;
}

::selection {
  background: #000;
  color: white;
}

@media (max-width: 768px) {
  .owl-stage {
    width: 100%;
  }
  .owl-item {
    width: 100%;
  }
}
@media (max-width: 768px) {
  .intro-section h1 {
    font-size: 2rem !important;
  }
  .intro-section p {
    font-size: 1rem !important;
  }
  .intro-section .btn {
    font-size: 1rem !important;
  }
}
@media (min-width: 768px) {
  .form-section {
    padding: 5em 0;
  }
  .bg-image-overlay {
    padding: 5em 0;
  }
  .site-section {
    padding: 5em 0;
  }
}
@media (max-width: 768px) {
  .site-mobil-menu {
    display: block;
  }
}
.header-top {
  background-color: #f8f9fa !important;
}
.header-top .container {
  padding: 40px 0;
}
.header-top .container .quick-contact-icons .icon-group-span {
  margin-right: 10px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  position: relative;
  background: #1089ff;
}
.header-top .container .quick-contact-icons .icon-group-span i {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 25%;
  left: 25%;
}
.header-top .container .quick-contact-icons .text .h4 {
  font-size: 1.2rem;
  margin-bottom: 0;
  color: #000;
}
.header-top .container .quick-contact-icons .text .caption-text {
  font-size: 1rem;
  color: gray;
}
.header-top .container .text-black {
  color: #000;
}

.sticky-wrapper {
  z-index: 100;
  position: sticky;
  top: 0;
  width: 100%;
  background: white;
}
.sticky-wrapper .site-navbar {
  transition: 0.3s all ease;
  background: #1089ff;
  width: 100%;
}
.sticky-wrapper .site-navbar .site-menu {
  /*padding: 20px 0;*/
}
.sticky-wrapper .site-navbar .site-menu li {
  display: inline-block;
}
.sticky-wrapper .site-navbar .site-menu li a {
  color: white;
  position: relative;
  text-transform: uppercase;
  font-size: 16px;
  letter-spacing: 0.05rem;
  font-weight: 900;
  padding: 20px 20px;
  color: white;
  text-decoration: none !important;
}
.sticky-wrapper .site-navbar .site-menu li a:hover::before {
  content: "";
  position: absolute;
  bottom: 10px;
  height: 2px;
  background: #fff;
  width: 70%;
}

.footer {
  padding: 4rem 0;
  background: #000;
  font-size: 15px;
  color: #888;
}
.footer p {
  margin-bottom: 1rem;
}
.footer p:nth-child(2) {
  font-family: 1.5rem;
  word-spacing: 5px;
}
.footer p .learn-btn {
  text-decoration: underline;
}
.footer .footer-heading {
  font-size: 16px;
  color: #000;
  margin-bottom: 30px;
  text-transform: uppercase;
}
.footer .footer-heading span {
  border-bottom: 2px solid #1089ff;
}
.footer .list-unstyled {
  padding-left: 0;
}
.footer .list-unstyled li {
  margin-bottom: 10px;
}
.footer .list-unstyled li a {
  color: #1089ff;
  text-decoration: none;
}
.footer .copyright {
  padding-top: 7rem;
  text-align: center;
}
.footer .copyright i {
  color: red;
}
.footer .copyright a {
  text-decoration: underline;
}

.hero-slide .intro-section {
  background-size: cover;
  background-position: center;
  height: 500px;
}
.hero-slide .intro-section::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background: #222;
  opacity: 0.3;
  border-bottom-right-radius: 0px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.hero-slide .intro-section .container {
  max-width: 1000px;
}
.hero-slide .intro-section h1 {
  font-size: 3rem;
  color: white;
  font-weight: 300 !important;
}
.hero-slide .intro-section p {
  font-size: 1.2rem;
  color: white;
  font-weight: 300 !important;
}
.hero-slide .intro-section .btn {
  font-size: 1.2rem;
  color: white;
  font-weight: 300 !important;
}

.owl-nav {
  transition: all 0.3s;
  position: relative;
}
.owl-nav .owl-prev {
  position: absolute;
  left: 10px;
}
.owl-nav .owl-prev .icon-back {
  width: 70px;
  height: 70px;
  position: absolute;
  top: 50%;
  left: 50%;
  color: #000;
  transform: translate(-50%, -50%);
}
.owl-nav .owl-prev .icon-back:hover {
  background-color: aqua;
}
.owl-nav .owl-prev .icon-back i {
  font-size: 1.7rem;
}
.owl-nav .owl-next {
  right: 10px;
}

.owl-dots {
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}
.owl-dots .owl-dot {
  display: inline-block;
}
.owl-dots .owl-dot span {
  background: #1089ff;
  border-radius: 0%;
  display: inline-block;
  width: 18px;
  height: 4px;
  margin: 2px 5px;
}

.about-us-section {
  padding: 5em 0;
}
.about-us-section .text-serif {
  font-family: "Dancing Script", sans-serif;
}
.about-us-section .text-black {
  position: relative;
  padding-bottom: 30px;
  margin-bottom: 30px;
}
.about-us-section .text-black::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 50px;
  height: 2px;
  background: #1089ff;
}
.about-us-section p {
  margin-bottom: 1rem;
  font-size: 1.2rem;
}
.about-us-section p .btn {
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 0.2rem;
  font-family: "Oswald", sans-serif;
}

.service-icon .col-md-6, .service-icon .col-lg-4 {
  margin-bottom: 40px;
}
.service-icon .wrap-icon-39293 {
  position: relative;
  margin-bottom: 20px;
  display: block;
}
.service-icon .wrap-icon-39293 i {
  line-height: 0;
  font-size: 70px;
  color: #1089ff;
}

.bg-image-overlay {
  background-size: cover;
  background-position: center center;
  position: relative;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.bg-image-overlay::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  width: 100%;
  background: rgba(16, 137, 255, 0.8);
}
.bg-image-overlay .container {
  position: relative;
  z-index: 1;
}
.bg-image-overlay .container .row h3 {
  font-size: 50px;
  color: white;
  font-family: "Oswald", sans-serif;
  z-index: 99;
}
.bg-image-overlay .container .row span {
  color: white;
  font-size: 1rem;
}

.site-section .text-serif {
  font-family: "Dancing Script", sans-serif;
}
.site-section .heading-92913 {
  position: relative;
  padding-bottom: 30px;
  margin-bottom: 30px;
}
.site-section .heading-92913::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 50px;
  height: 2px;
  background: #1089ff;
  left: 50%;
  transform: translateX(-50%);
}
.site-section .service-39381 {
  background: #fff;
  box-shadow: 0 0 30px -5px rgba(0, 0, 0, 0.2);
}
.site-section .service-39381 h3 {
  font-size: 18px;
  font-family: "Oswald", sans-serif;
}
.site-section .service-39381 h3 a {
  color: #000;
}
.site-section .service-39381 .price span {
  border-radius: 4px;
  padding: 5px 10px;
  color: white;
}

.form-section .image-div-form p {
  margin-bottom: 1rem;
}
.form-section .text-serif {
  font-family: "Dancing Script", sans-serif;
}
.form-section .heading {
  font-weight: bold;
  position: relative;
  padding-bottom: 30px;
  margin-bottom: 30px;
}
.form-section .heading::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 50px;
  height: 2px;
  background: #1089ff;
}

form .form-group {
  margin-bottom: 1rem;
}
form .form-group label {
  margin-bottom: 0.5rem;
  display: inline-block;
}
form .form-group .form-control {
  display: block;
  width: 100%;
  height: calc(2.25rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: white;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
}
form .form-group textarea .form-control {
  height: auto;
}
form .form-group option:hover {
  color: blue;
}
form .form-group .btn {
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 0.2rem;
  font-family: "Oswald", sans-serif;
}

.text-serif {
  font-family: "Oswald", sans-serif;
}

.heading {
  position: relative;
  padding-bottom: 30px;
  margin-bottom: 30px;
}
.heading::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 50px;
  height: 2px;
  background: #1089ff;
  left: 50%;
  transform: translateX(-50%);
}

.person {
  position: relative;
}
.person figure {
  position: relative;
  overflow: hidden;
  margin-bottom: 30px;
}
.person figure img {
  transition: all 0.3s;
}
.person figure img:hover {
  transform: scale(1.1);
}
.person figure .social {
  position: absolute;
  bottom: 10px;
  left: 10px;
  z-index: 2;
}
.person figure .social .social-box {
  display: block;
  margin-bottom: 10px;
  width: 40px;
  height: 40px;
  background: white;
  position: relative;
}
.person figure .social .social-box i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #1089ff;
}
.person .person-contents span {
  color: #1089ff;
}

.testimony blockquote {
  border: 1px solid #ccc;
  padding: 30px;
  border-radius: 4px;
  font-size: 16px;
  position: relative;
}
.testimony blockquote::after {
  position: absolute;
  content: "''";
  right: 10px;
  bottom: -10px;
  font-size: 50px;
  color: #1089ff;
}
.testimony .vcard img {
  border-radius: 50%;
  width: 50px;
  height: 50px;
}
.testimony .vcard .text {
  line-height: 1;
  margin-left: 10px;
}
.testimony .vcard .text strong {
  font-size: 15px;
  color: #000;
  margin-bottom: 4px;
}
.testimony .vcard .text span {
  font-size: 14px;
  color: #ccc;
}

.overlay-ship {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: relative;
}
.overlay-ship::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  width: 100%;
  background: rgba(16, 137, 255, 0.8);
}
@media (min-width: 768px) {
  .overlay-ship {
    padding: 5em 0;
  }
}
.overlay-ship .container {
  position: relative;
  z-index: 1;
}
.overlay-ship .container h2 {
  font-size: 2rem;
}
.overlay-ship .container .lead {
  font-size: 1.25rem;
  font-weight: 300;
}
.overlay-ship .container .btn {
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 0.2rem;
  font-family: "Oswald", sans-serif;
}

.site-mobile-menu {
  width: 300px;
  position: fixed;
  right: 0;
  z-index: 2000;
  padding-top: 20px;
  background: #fff;
  height: 100vh;
  transform: translateX(110%);
  box-shadow: -10px 0 20px -10px rgba(0, 0, 0, 0.1);
  transition: 0.3s all ease-in-out;
}
.site-mobile-menu.active {
  transform: translateX(0%);
}
.site-mobile-menu-header {
  width: 100%;
  float: left;
  padding-left: 20px;
  padding-right: 20px;
}
.site-mobile-menu-header .site-mobile-menu-close {
  margin-right: 15px;
  float: right;
}
.site-mobile-menu-header .site-mobile-menu-close .icon-close2 {
  font-size: 30px;
  display: inline-block;
  padding-left: 10px;
  padding-right: 0px;
  line-height: 1;
  cursor: pointer;
}
.site-mobile-menu-body {
  position: relative;
  padding: 0 20px 20px 20px;
  height: calc(100vh - 52px);
  padding-bottom: 150px;
  overflow-y: scroll;
}
.site-mobile-menu-body .site-nav-wrap {
  margin: 0;
  padding: 0;
}
.site-mobile-menu-body .site-nav-wrap li {
  margin-bottom: 30px;
  display: block;
  position: relative;
  float: left;
  width: 100%;
}
.site-mobile-menu-body .site-nav-wrap li a {
  color: #000;
  padding-left: 20px;
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
  display: block;
  transition: color 0.3s ease;
}
.site-mobile-menu-body .site-nav-wrap li a:hover {
  color: #c6d167;
}
.site-mobile-menu-body .site-nav-wrap li.active a {
  color: #c6d167;
  display: none;
}/*# sourceMappingURL=main.css.map */